@import url('https://fonts.googleapis.com/css?family=Montserrat|Open+Sans|Roboto');


body {
}


.color-white {
	color:#fff;
}


.week-row {
  background-color: lightgray;
  text-align: center;
  font-weight:bold;
  width:80%;
  color:white;
  padding:20px;
  display:flex;
  justify-content: center;
  align-items: center;
  margin-bottom:10px;
  border: 1px solid black;
}


.week {
  color:#fff;
}

.active {
  background-color: #5bb263;
}

.active:hover {
  cursor: pointer;
  background-color: #0b300e;
}
