@import url('https://fonts.googleapis.com/css?family=Montserrat|Open+Sans|Roboto');


body {
}


.color-white {
	color:#fff;
}



.highlights-header, .commentary-header, .entertainment-header {
	margin-bottom:40px;
	background-color: gainsboro;
	padding:5px;
}

.highlights-header:hover, .commentary-header:hover, .entertainment-header:hover {
	background-color: #5bb263;
	cursor: pointer;
}

.highlights-header h2, .commentary-header h2, .entertainment-header h2 {
	color:#fff;
}

.highlights-row, .commentary-row, .entertainment-row {
	margin-top:10px;
}

.week-row {
  background-color: lightgray;
  text-align: center;
  font-weight:bold;
  width:80%;
  color:white;
  padding:20px;
  display:flex;
  justify-content: center;
  align-items: center;
  margin-bottom:10px;
  border: 1px solid black;
}


.week {
  color:#fff;
}

.active {
  background-color: #5bb263;
}



.active:hover {
  cursor: pointer;
  background-color: #0b300e;
}

.displaying {
	background-color: #5bb263;
}

.flex-row {
	display:flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 20px;
	padding-bottom: 10px;
	border-bottom: 1px solid black;
	padding-left: 10%;
	padding-right: 10%;
}

.table-label {
	font-weight:bold;
}

.bold {
	font-weight:bold;
}

.table-copy {
	width:50%;
}

.standings-btn {
	background-color: #5bb263;
	width: 160px;
	margin:auto;
	padding: 10px;
	border-radius: 30px;
}

.standings-btn a{
	color:#fff;
	text-decoration:none;
}

a {
	text-decoration: none;
}

.container {
	margin-top:30px!important;
}

ul {
	list-style: none;
}

i {
	margin-right: 20px;
}

p {
	text-align: left;
}

.next-week {
	margin-top: 40px;
}

.entertainment-row {
	display: flex;
	flex-flow: column;
	align-items: center;
	justify-content: center;
}


.entertainment-row-item a {
	text-decoration-style: wavy;
	text-decoration: underline;
	color: #5bb263;

}

.entertainment-row-item h3 {
	color: #5bb263;
}
